COMPOSE_PROJECT_NAME=io-fn-messages-cqrs

APPINSIGHTS_INSTRUMENTATIONKEY=<APPINS KEY>

FUNCTIONS_WORKER_RUNTIME=node
QueueStorageConnection=<STORAGE CONNECTION>
AzureWebJobsStorage=<STORAGE CONNECTION>
FUNCTIONS_V2_COMPATIBILITY_MODE=false

MESSAGE_VIEW_UPDATE_FAILURE_QUEUE_NAME=update-message-view-errors
MESSAGE_VIEW_UPDATE_FAILURE_CONNECTION=<STORAGE CONNECTION>

COSMOSDB_CONNECTION_STRING=<COSMOS STRING>
COSMOSDB_KEY=<KEY>
COSMOSDB_NAME=db
COSMOSDB_URI=<COSMOS URL>

MESSAGE_CONTENT_STORAGE_CONNECTION=<STORAGE CONNECTION>

MESSAGE_STATUS_FOR_VIEW_TOPIC_CONSUMER_GROUP=\$Default
MESSAGE_STATUS_FOR_VIEW_TOPIC_NAME=io-cosmosdb-message-status
MESSAGE_STATUS_FOR_VIEW_TOPIC_CONSUMER_CONNECTION_STRING=<EVENTHUB CONNECTION>

# needed to connect to cosmosdb server
NODE_TLS_REJECT_UNAUTHORIZED=0