COMPOSE_PROJECT_NAME=io-fn-messages-cqrs

FUNCTIONS_WORKER_RUNTIME=node
QueueStorageConnection=<QUEUE STRING>
AzureWebJobsStorage=<STORAGE STRING>
FUNCTIONS_V2_COMPATIBILITY_MODE=true

COSMOSDB_CONNECTION_STRING=<CONNECTION STRING>
COSMOSDB_KEY: dummykey,
COSMOSDB_NAME: testdb,
COSMOSDB_URI: https://cosmosdb:3000,

MESSAGE_STATUS_TOPIC_NAME=io-cosmosdb-message-status
MESSAGE_STAUTS_TOPIC_CONNECTION_STRING=<CONNECTION STRING>

# needed to connect to cosmosdb server
NODE_TLS_REJECT_UNAUTHORIZED=0
